{% set imgUrl = 'https://upload.wikimedia.org/wikipedia/commons/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg' %}

<div class="card" style="width: 18rem;">
    <img src="{{ imgUrl }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button type="button" id="changeTitleButton" class="btn btn-primary">Change Title</button>
    </div>
</div>